* {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;;
}

body {
    background-repeat: no-repeat;
    background-size: contain;
}
body.theme-light {
    background-color: #fafafa;
    background-image: url(../images/bg-desktop-light.jpg);
}
body.theme-dark {
    background-color: hsl(235, 21%, 11%);
    background-image: url(../images/bg-desktop-dark.jpg);
}

.container {
    width: 35%;
    margin: 80px auto;
}

/*=======================
=======   TITLE
=======================*/
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title span {
    font-size: 35px;
    font-weight: 700;
    color: white;
    letter-spacing: 4px;
}
.title img {
    cursor: pointer;
}

/*=======================
=======   SPACE ONE
=======================*/
.space-one {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 20px 0;
    padding: 5px 25px;
    background-color: hsl(235, 24%, 19%);
    border-radius: 4px;
    color: white;
    height: 55px;
}
.link-item {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
hr {
    border: 1px solid hsl(237, 14%, 26%);
}
/*=======================
=======   ITEMS LIST ALL
=======================*/

.items-list-all {
    border-radius: 5px;
}
.items-list-all .item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.items-list-all .item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
body.theme-light .items-list-all {
    box-shadow: 0px 0px 5px 0px #a1a1a1;
}


.item {
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    background-color: hsl(235, 24%, 19%);
    color: white;
    height: 55px;
    align-items: center;
    border: 1px solid transparent;
}
.items-container {
    display: flex;
    align-items: center;
}
.item-bottom {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

body.theme-light div.item,
body.theme-light div.space-one {
    background-color: #ffffff;
    border-bottom: 1px solid #E6E5EA;
}
body.theme-light div:not(.actions).item:hover {
    background-color: #ececec;
}
body.theme-light div.items-container .link-item {
    color: #585769 !important;
}
/*=======================
=======   ULTIMATE ITEM
=======================*/
.item-font {
    font-size: 12px;
}
.blue {
    color: hsl(220, 98%, 61%);;
}
.container-list a {
    text-decoration: none;
    color:  hsl(233, 14%, 35%);
}
.container-list a:hover {
    color: hsl(234, 39%, 85%);
}
.clear-item {
    opacity: 0;
    animation: opacity 1s;
}
.item:not(.actions):hover {
    background-color: #726995;
    cursor: pointer;
}
.item:hover .clear-item {
    opacity: 1;
}

/*=======================
=======   CHECKBOX
=======================*/
.checkbox {
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #4d5066;
    border-radius: 20px;
    bottom: 2px;
}
.checkbox--square {
    border-radius: 3px;
}
.checkbox input {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.checkbox > .checkbox-check {
    opacity: 0;
}

.checkbox > .checkbox-check {
    transition: all .1s ease-in-out;
    transform: scale(0);
}

.checkbox input.checkbox-input:checked + span.checkbox-check {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#57ddff, #c058f3);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    border-radius: inherit;
    transform: scale(1);
}

.checkbox .checkbox-check::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 4px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(315deg);
    position: absolute;
    top: 10px;
    left: 8px;
}

